.logo{
    height: 100px;
}
.formBorder{
    border: 1px solid gray;
    padding: 20px;
}
form input{
    border: none;
    outline: none;
    width: 100%;
}
.inputStyle{
    border-bottom: 1px solid gray;
    margin-bottom: 25px;
    width: 100%;
}
.submitBtn{
    padding: 10px;
}

.error{
    color: red;
}